{erl_opts, [debug_info]}.
{deps, []}.

{pre_hooks, [{"(linux|darwin|solaris)", compile, "make -C c_src PROJECT=java_int_resource"},
             {"(linux|darwin|solaris)", compile, "make -f java_src/Makefile"}]}.

{post_hooks, [{"(linux|darwin|solaris)", clean, "make -C c_src clean PROJECT=java_int_resource"},
              {"(linux|darwin|solaris)", clean, "make -f java_src/Makefile clean"}]}.
