%%% -*- mode: erlang -*-
{erl_opts, [debug_info]}.
{deps, [{edown, {git, "git://github.com/uwiger/edown.git", {branch, "master"}}}
       ]}.

{pre_hooks, [{"(linux|darwin|solaris)", compile, "make -C c_src PROJECT=java_int_resource"},
             {"(linux|darwin|solaris)", compile, "make -f java_src/Makefile"}]}.

{post_hooks, [{"(linux|darwin|solaris)", clean, "make -C c_src clean PROJECT=java_int_resource"},
              {"(linux|darwin|solaris)", clean, "make -f java_src/Makefile clean"}]}.

{edoc_opts, [{doclet, edown_doclet}
            , {app_default, "http://www.erlang.org/doc/man"}
            , {new, true}
            , {packages, false}
            , {stylesheet, ""}   % don't copy stylesheet.css
            , {image, ""}        % don't copy erlang.png
            , {top_level_readme, {"./README.md", "https://github.com/fredlund/JavaErlang", "master"}}
            ]}.
