%%% -*- mode: erlang -*-
{erl_opts, [debug_info, warnings_as_errors
           , {platform_define, "(linux|darwin|solaris)", 'enable_gc'}
           , {platform_define, "(17|R16|R15)", 'non_deprecated_erlang_now'}
           ]}.
{deps, [{edown, {git, "https://github.com/uwiger/edown.git", {ref,"0.8.4"}}}
       ]}.

{pre_hooks, [{compile, "make -f java_src/Makefile"}
            , {"(linux|darwin|solaris)", compile, "make -C c_src PROJECT=java_resource"}
            ]}.

{post_hooks, [{clean, "make -f java_src/Makefile clean"}
             , {"(linux|darwin|solaris)", clean, "make -C c_src clean PROJECT=java_resource"}
             ]}.

{edoc_opts, [{doclet, edown_doclet}
            , {app_default, "http://www.erlang.org/doc/man"}
            , {new, true}
            , {packages, false}
            , {stylesheet, ""}   % don't copy stylesheet.css
            , {image, ""}        % don't copy erlang.png
            , {top_level_readme, {"./README.md", "https://github.com/fredlund/JavaErlang", "master"}}
            ]}.
